{% extends 'base.html' %}
{# 使用length过滤器获取movies变量的长度 #}
{% block content %}
    <p>{{ articles|length }} 篇文章</p>
    {#  表单  #}
    <ul class="movie-list">
        {% for blog in articles|sort(reverse=true, attribute="updated") %}
            <li>
                <a href="{{ url_for('look_blog', blog_id=blog.id) }}" target="_blank" title="查看全文" style="text-decoration: none;color:inherit;">
                    <span style="color: #a6a6a6">{{ "{}".format(blog.updated)[5:-10] }}</span>
                    &emsp;标题:
                    <span style="color: #2ed3ff;width: 350px;display: inline-block;overflow: hidden;">{{ blog.title }}</span>
                    <span style="overflow: hidden">@{{ blog.user.name }}</span>
                </a>
            </li>
        {% endfor %}

    </ul>

{#    <img class="img" src="{{ url_for('static', filename='images/1.png') }}" alt="">#}
{% endblock %}